<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51457075319-7b10a282hoi3u3m0e286p42u9vrrd7md.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51457075319-7b10a282hoi3u3m0e286p42u9vrrd7md</string>
	<key>API_KEY</key>
	<string>AIzaSyDmDiyy79byIhCkk1IFil746271k7FRdf0</string>
	<key>GCM_SENDER_ID</key>
	<string>51457075319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goldMine</string>
	<key>PROJECT_ID</key>
	<string>bitbirdsdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>bitbirdsdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51457075319:ios:15bc3872b29198e07abe72</string>
</dict>
</plist>