<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691141756498-ksrv2vtm9cdtaagl6h6otlqnfpik6cji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691141756498-ksrv2vtm9cdtaagl6h6otlqnfpik6cji</string>
	<key>API_KEY</key>
	<string>AIzaSyCRNTiErBpEHbWWvRtqMdZ8Kei3c77R6uE</string>
	<key>GCM_SENDER_ID</key>
	<string>691141756498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.absolutezero.goldMine</string>
	<key>PROJECT_ID</key>
	<string>fir-batch4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-batch4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691141756498:ios:760ca569df0df8daf8418b</string>
</dict>
</plist>